:root {
  --doc-height: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  overflow: hidden;
}

.login-page {
  height: 100vh;
  height: var(--doc-height);
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
  display: flex;
  align-items: end;
}

.bg-img {
  object-fit: cover;
  object-position: bottom right;
  min-height: 100%;
  min-width: 100%;
}

.login-form {
  /* background: rgba(0, 0, 0, 0.5); */
  position: absolute;
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

.form-container {
  /* display: flex; */
  /* align-items: center; */
  position: absolute;
  top: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-field {
  background: transparent;
  border-radius: 0;
  text-align: center;
  border: none;
  font-size: 18px;
  box-shadow: none;
  font-weight: 600;
}

.input-field:focus {
  outline: none;
}

.input-field:hover {
  border-bottom: 3px solid #000000;
}

.login-btn {
  background: rgba(255, 0, 0, 0.5);
  background: transparent;
  border: none;
  cursor: pointer;
}

.error-message {
  background: rgb(255, 255, 57);
  color: rgb(91, 20, 29);
  border-radius: 2px;
  position: absolute;
  right: 20px;
  bottom: 80%;
  transition: 0.1s;
  font-size: 14px;
}

.error-message.active {
  padding: 20px;
}

.snowflake,
.snowflake .inner {
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes snowflakes-fall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes snowflakes-shake {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  animation-name: snowflakes-shake;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
}
.snowflake .inner {
  animation-duration: 10s;
  animation-name: snowflakes-fall;
  animation-timing-function: linear;
}
.snowflake .inner img {
  box-shadow:  0px 0px 6px 2px rgba(255, 255, 255, 0.1);
}
.snowflake:nth-of-type(0) {
  left: 1%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(0) .inner {
  animation-delay: 0s;
}
.snowflake:first-of-type {
  left: 10%;
  animation-delay: 1s;
}
.snowflake:first-of-type .inner,
.snowflake:nth-of-type(8) .inner {
  animation-delay: 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  animation-delay: 0.5s;
}
.snowflake:nth-of-type(2) .inner,
.snowflake:nth-of-type(6) .inner {
  animation-delay: 6s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(11) .inner,
.snowflake:nth-of-type(3) .inner {
  animation-delay: 4s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(10) .inner,
.snowflake:nth-of-type(4) .inner {
  animation-delay: 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  animation-delay: 3s;
}
.snowflake:nth-of-type(5) .inner {
  animation-delay: 8s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  animation-delay: 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  animation-delay: 1s;
}
.snowflake:nth-of-type(7) .inner {
  animation-delay: 2.5s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  animation-delay: 1.5s;
}
.snowflake:nth-of-type(9) .inner {
  animation-delay: 3s;
}
.snowflake:nth-of-type(10) {
  left: 25%;
  animation-delay: 0s;
}
.snowflake:nth-of-type(11) {
  left: 65%;
  animation-delay: 2.5s;
}
